@font-face {
  src: url("fonts/NoirStd-Regular.ttf");
  font-family: "Noir";
}

@font-face {
  src: url("fonts/Odachi\ 400.otf");
  font-family: "Odachi";
}

/* Global */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Noir", sans-serif;
}
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 1.8rem;
}

p,
li {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: azure;
}

button {
  background-color: #015668;
  border: none;
  border-radius: 0.5rem;
  color: azure;
  cursor: pointer;
  padding: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.233);
  transition: background ease-in 0.5s;
}
button:hover {
  transition: background ease-in-out 0.5s;
  background-color: #ffd369;
  color: #263f44;
}

/* Nav Section With Hero */

.main-header {
  background-color: #015668;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav {
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
li a {
  color: azure;
  transition: 1s ease-in-out;
}

li a:hover {
  color: #ffd369;
  transition: 0.5s ease-in-out;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Odachi", sans-serif;
  color: #fff1cf;
}
#logo a {
  transition: 0.5s ease-in-out;
}

#logo:hover a {
  color: #ffd369;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hero {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3)),
    url("../img/landing-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: azure;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
}

#hero h3 {
  padding: 5rem;
}

/* locations */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3)),
    url("../img/new-york-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-header {
  margin: auto;
  width: 90%;
}

.locations-header h2 {
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-color: #263f44;
  color: #ffd369;
}

.locations-header h3 {
  padding: 2rem 0;
  color: #fff1cf;
}

.cloud {
  position: absolute;
  right: 0%;
  top: 0%;
}

.cloud-moving-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.cloud-moving-2 {
  animation: cloudAnimation 3.5s infinite alternate-reverse ease-in-out 1s;
  top: 20%;
  z-index: -1;
}

/* benefits */
.benefits-header {
  background-color: #263f44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: azure;
}

.benefits-header h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5), 0px 20px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card-icon {
  background-color: #015668;
}

.card h4,
p {
  padding: 1rem;
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../img/contact-mountain.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background: rgba(38, 63, 68, 0.507);
  width: 40%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  margin: 2rem 5rem;
  color: #ffd369;
  text-align: center;
}

.form-header {
  padding: 2rem;
  text-align: center;
}

.name-form,
.email-form {
  padding: 1rem;
  text-align: center;
}

form label {
  padding: 1rem;
  font-size: 1.5rem;
}

form input {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
}
form button {
  margin: auto;
  margin: 1rem 0;
}
/* Footer */
footer {
  background: #015668;
  color: azure;
}

.footer-wrapper {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 5vh;
}
footer h5 {
  flex: 1 1 40rem;
  font-family: "Odachi", sans-serif;
  color: #ffd369;
}

footer ul {
  list-style: none;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
/* animations */
@keyframes cloudAnimation {
  0% {
    transform: translate(10%, -10%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

/* Media Queries */

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
    pointer-events: none;
  }
  .cloud {
    height: 40rem;
  }
  .cloud-moving-1 {
    z-index: -1;
  }

  .cloud-moving-2 {
    z-index: -2;
    top: 10%;
  }
  .locations-header h3 {
    text-align: center;
    background-color: rgba(19, 28, 39, 0.8);
    -webkit-text-fill-color: azure;
  }
  footer {
    text-align: center;
  }

  footer h5 {
    padding: 3rem;
  }
}
